<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<head th:insert="~{sdn}">
  <meta charset="UTF-8">
  <title>Details</title>
</head>

<body>
<div layout:fragment="content">
  <br>
  <div class="row">
    <div class="col-sm-6" th:each="req : ${requests}">
      <div class="card">
        <div class="card-header" style="height: 80px">
          <h5 class="card-title" th:text="#{label.reqby} + ${req.userName}"></h5>
          <h6 th:style="${req.handled==true}? 'display:none' : 'color: red'" th:text="#{label.NotProcessed}"></h6>
        </div>
        <div class="card-body" style="height: 150px">
          <h6 class="card-title" style="color: #0a58ca" th:text="#{label.cource} + ${req.course.name}"></h6>
          <p th:text="#{label.comments} + ${req.comments}"></p>
        </div>
        <div class="card-footer">
          <h6 class="card-title" th:text="#{label.tel} + ${req.phone}"></h6>
          <a th:href="${'details/' + req.id}" th:text="#{label.details}"></a>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
</body>
</html>